<div id="footer">
  <div class="bd clx">
    <p>
      © 2013
      <a href="http://www.lihuashu.com/">梨花树</a>
      All Rights Reserved! 粤ICP备1201934-2号
    </p>
    <p>
      <a title="梨花树 妹子图" href="http://www.lihuashu.com/">
        <img alt="梨花树 妹子图" src="/static/mzr/img/logo-footer-large.png" width="259px" height="42px" />
      </a>
    </p>
  {{/*
    <p>
      <a href="http://webscan.360.cn/index/checkwebsite/url/www.lihuashu.com" target="_blank" rel="external nofollow"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/11f6b41b9461425019b90137a487d5c2"/></a>
      <a href="http://zhanzhang.anquan.org/physical/report/?domain=www.lihuashu.com" name="6N4Cuifb35AypQZ8kO9vMo11PEiQnYdHxGn73bPhbIfFClsNDL" target="_blank" rel="external nofollow"><img height="47px" width="123px" src="http://zhanzhang.anquan.org/static/common/images/zhanzhang.png" alt="安全联盟站长平台" /></a>
    </p>
  */}}
  </div>
</div>
<a id="goback" href="#heaader" style="display:none;"></a>

{{template "ads/ad-b.html".}}
<div style="display:none;">
  <script type="text/javascript">
  var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F76270df9e221d58df41c92b83bf6bbcc' type='text/javascript'%3E%3C/script%3E"));
  </script>
</div>