{{template "head.html" .}}
<body class="single single-post postid-2767 single-format-standard sidebar_left    responsive-on">

<!-- .main-container -->
<div class="main-container">

  <div class="bg"></div>
  {{template "header.html" .}}
  <div class="container">
    <!-- .row -->
    <div class="row">

      <div class="content span7">

        <div class="content-inner clearfix">

          <!-- .content -->
          <div class="single-content">

            <div class="post-wrap first">

              <article class="post-2767 post type-post status-publish format-standard hentry category-news category-politics" >

                <!-- .entry-wrap -->
                <div class="entry-wrap">

                  <!-- .featured-area -->
                  <div class="featured-area">

                    <!-- .featured-image -->
                    <div class="featured-image">

                      <img width="540" height="300" src="/static/files/2013/02/4404488882_b552d06a8b_o-540x300.jpg" class="attachment-large_thumb wp-post-image" alt="The Houses Of Parliament" />
                    </div>
                    <!-- /.featured-image --> </div>

                  <!-- .entry-header -->
                  <div class="entry-header">

                    <div class="entry-meta">
                      <time class="entry-date block" datetime="2013-02-13T16:42:15+00:00"> <i class="icon-calendar"></i>
                        始创于Feb 13, 2013
                      </time>
                      <span class="entry-categories"> <i class="icon-folder-close"></i>
                        <a href="../category/news/index.html" title="View all posts in News" rel="category tag">节点上级分类名字</a>
                      </span>
                      <span class="entry-comments">
                        <i class="icon-comments"></i>
                        <a href="index.html#comments" class="entry-comments block">888话题</a>
                      </span>
                      <span class="btn-group" style="margin: 9px 0 5px;">
                        <button class="btn btn-mini">编辑</button>
                        <button class="btn btn-mini">删除</button>
                      </span>
                    </div>

                    <h1 class="entry-title">
                      <span>[{{.innode.Title}}]</span>
                    </h1>

                  </div>
                  <!-- /.entry-header -->

                  <div class="entry-content">
                    <div>{{str2html .innode.Content}}</div>
                    <h3>置顶</h3>
                    <div class="sc accordion" id="accordion-0">
                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-0" href="index.html#collapse_0_media-search-social">Media, Search &amp; Social</a>
                        </div>
                        <div id="collapse_0_media-search-social" class="accordion-body collapse in">
                          <div class="accordion-inner">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.&nbsp;
                          </div>
                        </div>
                      </div>

                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-0" href="index.html#collapse_1_planning-ux">Planning &amp; UX</a>
                        </div>
                        <div id="collapse_1_planning-ux" class="accordion-body collapse ">
                          <div class="accordion-inner">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.&nbsp;
                          </div>
                        </div>
                      </div>

                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-0" href="index.html#collapse_2_development">开发部门</a>
                        </div>
                        <div id="collapse_2_development" class="accordion-body collapse ">
                          <div class="accordion-inner">
                            Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis.
                            <p></p>
                            <p>
                              Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Sed posuere consectetur est at lobortis.&nbsp;
                            </p>
                          </div>
                        </div>
                      </div>

                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-0" href="index.html#collapse_3_client-services">Client Services</a>
                        </div>
                        <div id="collapse_3_client-services" class="accordion-body collapse ">
                          <div class="accordion-inner">
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                            <p></p>
                            <p>
                              Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.&nbsp;
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="tabbed-widget itabs">
                      <div class="widget Engine_Tabbed">
                        <h3>论坛</h3>
                        <ul class="nav nav-tabs">
                          <li class="active">
                            <a href="default.html#popular-engine_tabbed--1" data-toggle="tab">热门话题</a>
                          </li>
                          <li>
                            <a href="default.html#recent-engine_tabbed--1" data-toggle="tab">流行话题</a>
                          </li>
                          <li>
                            <a href="default.html#comments-engine_tabbed--1" data-toggle="tab">高分话题</a>
                          </li>
                          <li>
                            <a href="default.html#topics-engine_tabbed--1" data-toggle="tab">热议话题</a>
                          </li>
                        </ul>

                        <div class="tab-content">

                          <div class="tab-pane fade in active" id="popular-engine_tabbed--1">
                          {{if .topics}}
                            {{range .topics}}
                            <div class="post-2812 post type-post status-publish format-image hentry">
                              <div class="featured-area">
                                <div class="featured-image">
                                  <a href="/user/insion">
                                    <img width="200" height="200" src="/static/files/2012/09/122-200x200.jpg" class="attachment-post-thumbnail wp-post-image" alt="头像吗?!"></a>
                                </div>
                              </div>

                              <div class="overlay">
                                <div class="entry-header">
                                  <h5>
                                    <a href="/topic/{{.Id}}/">{{.Id}}.{{.Title}}</a>
                                  </h5>

                                  <div class="entry-meta">
                                    <time class="entry-date block" datetime="2008-03-03T10:11:37+00:00">Mar 3, 2008</time>
                                    ·
                                    <a href="comment-test/default.html#comments" class="entry-comments block">
                                      <span class="badge badge-inverse">19 评论</span>
                                    </a>
                                    <span class="btn-group" style="margin: 9px 0 5px;">
                                      <button class="btn btn-mini">编辑</button>
                                      <button class="btn btn-mini">置顶</button>
                                      <button class="btn btn-mini">删除</button>
                                    </span>
                                  </div>

                                </div>

                                <div class="entry-content">
                                  {{if .Content}}
                                  <p>
                                    {{$cs:=html2str .Content}}
                                    {{$cs:=substr $cs 0 240}}
                                    {{str2html $cs}}
                                  </p>
                                  {{end}}
                                </div>

                                <div class="inner">
                                  <div class="btn-group pull-left" style="margin-top:10px;margin-right:10px;">
                                    <a href="/new/comment" class="btn btn-mini btn-inverse" title="回复话题">回复</a>
                                    <a href="/topic/2/" class="btn btn-mini btn-inverse" title="阅读话题">阅读</a>
                                  </div>
                                  <div class="btn-group pull-left" style="margin-top:10px;margin-right:10px;">
                                    <button class="btn btn-mini btn-inverse">♥ 喜欢 (8888)</button>

                                    <button class="btn btn-mini btn-inverse">♠ 讨厌 (8888)</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            {{end}}
                          {{end}}
                              <div class="breadcrumb"> </div>
                              <div class="pagination pagination-centered">
                                <ul>
                                  <li class="disabled">
                                    <a href="#">&laquo;前页</a>
                                  </li>
                                  <li class="active">
                                    <a href="#">1</a>
                                  </li>
                                  <li>
                                    <a href="#">2</a>
                                  </li>
                                  <li>
                                    <a href="#">3</a>
                                  </li>
                                  <li>
                                    <a href="#">4</a>
                                  </li>
                                  <li>
                                    <a href="#">5</a>
                                  </li>
                                  <li>
                                    <a href="#">后页»</a>
                                  </li>
                                </ul>
                              </div>
                          </div>
                          <div class="tab-pane fade in " id="recent-engine_tabbed--1">
                          {{if .topics}}
                            {{range .topics}}
                            <div class="post-2812 post type-post status-publish format-image hentry">
                              <div class="featured-area">
                                <div class="featured-image">
                                  <a href="/user/{{.Author}}/">
                                    <img width="200" height="200" src="/static/files/2012/09/122-200x200.jpg" class="attachment-post-thumbnail wp-post-image" alt="头像吗?!"></a>
                                </div>
                              </div>

                              <div class="overlay">
                                <div class="entry-header">
                                  <h5>
                                    <a href="/topic/{{.Id}}/">{{.Id}}.{{.Title}}</a>
                                  </h5>

                                  <div class="entry-meta">
                                    <time class="entry-date block" datetime="2008-03-03T10:11:37+00:00">Mar 3, 2008</time>
                                    ·
                                    <a href="comment-test/default.html#comments" class="entry-comments block">19 评论</a>
                                    <span class="btn-group" style="margin: 9px 0 5px;">
                                      <button class="btn btn-mini">编辑</button>
                                      <button class="btn btn-mini">删除</button>
                                      <button class="btn btn-mini">置顶</button>
                                    </span>
                                  </div>

                                </div>

                                <div class="entry-content">
                                  {{if .Content}}
                                  <p>
                                    {{$cs:=html2str .Content}}
                                    {{$cs:=substr $cs 0 240}}
                                    {{str2html $cs}}
                                  </p>
                                  {{end}}
                                </div>

                                <div class="inner">
                                  <div class="btn-group pull-left" style="margin-top:10px;margin-right:10px;">
                                    <a href="/new/comment" class="btn btn-mini btn-inverse" title="回复话题">回复</a>
                                    <a href="/topic/{{.Id}}/" class="btn btn-mini btn-inverse" title="阅读话题">阅读</a>
                                  </div>
                                  <div class="btn-group pull-left" style="margin-top:10px;margin-right:10px;">
                                    <button class="btn btn-mini btn-inverse">♥ 喜欢 (8888)</button>

                                    <button class="btn btn-mini btn-inverse">♠ 讨厌 (8888)</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            {{end}}
                          {{end}}
                              <div class="breadcrumb"> </div>
                              <div class="pagination pagination-centered">
                                <ul>
                                  <li class="disabled">
                                    <a href="#">&laquo;</a>
                                  </li>
                                  <li class="active">
                                    <a href="#">1</a>
                                  </li>
                                  <li>
                                    <a href="#">2</a>
                                  </li>
                                  <li>
                                    <a href="#">3</a>
                                  </li>
                                  <li>
                                    <a href="#">4</a>
                                  </li>
                                  <li>
                                    <a href="#">5</a>
                                  </li>
                                  <li>
                                    <a href="#">»</a>
                                  </li>
                                </ul>
                              </div>
                          </div>
                          <div class="tab-pane fade in " id="comments-engine_tabbed--1">
                          {{if .topics}}
                            {{range .topics}}
                            <div class="post-2812 post type-post status-publish format-image hentry">
                              <div class="featured-area">
                                <div class="featured-image">
                                  <a href="/user/insion">
                                    <img width="200" height="200" src="/static/files/2012/09/122-200x200.jpg" class="attachment-post-thumbnail wp-post-image" alt="头像吗?!"></a>
                                </div>
                              </div>

                              <div class="overlay">
                                <div class="entry-header">
                                  <h5>
                                    <a href="/topic/{{.Id}}/">{{.Id}}.{{.Title}}</a>
                                  </h5>

                                  <div class="entry-meta">
                                    <time class="entry-date block" datetime="2008-03-03T10:11:37+00:00">Mar 3, 2008</time>
                                    ·
                                    <a href="comment-test/default.html#comments" class="entry-comments block">19 评论</a>
                                    <span class="btn-group" style="margin: 9px 0 5px;">
                                      <button class="btn btn-mini">编辑</button>
                                      <button class="btn btn-mini">删除</button>
                                      <button class="btn btn-mini">置顶</button>
                                    </span>
                                  </div>

                                </div>

                                <div class="entry-content">
                                  {{if .Content}}
                                  <p>
                                    {{$cs:=html2str .Content}}
                                    {{$cs:=substr $cs 0 240}}
                                    {{str2html $cs}}
                                  </p>
                                  {{end}}
                                </div>

                                <div class="inner">
                                  <div class="btn-group pull-left" style="margin-top:10px;margin-right:10px;">
                                    <a href="/new/comment" class="btn btn-mini btn-inverse" title="回复话题">回复</a>
                                    <a href="/topic/{{.Id}}/" class="btn btn-mini btn-inverse" title="阅读话题">阅读</a>
                                  </div>
                                  <div class="btn-group pull-left" style="margin-top:10px;margin-right:10px;">
                                    <button class="btn btn-mini btn-inverse">♥ 喜欢 (8888)</button>

                                    <button class="btn btn-mini btn-inverse">♠ 讨厌 (8888)</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            {{end}}
                          {{end}}
                              <div class="breadcrumb"> </div>
                              <div class="pagination pagination-centered">
                                <ul>
                                  <li class="disabled">
                                    <a href="#">&laquo;</a>
                                  </li>
                                  <li class="active">
                                    <a href="#">1</a>
                                  </li>
                                  <li>
                                    <a href="#">2</a>
                                  </li>
                                  <li>
                                    <a href="#">3</a>
                                  </li>
                                  <li>
                                    <a href="#">4</a>
                                  </li>
                                  <li>
                                    <a href="#">5</a>
                                  </li>
                                  <li>
                                    <a href="#">»</a>
                                  </li>
                                </ul>
                              </div>
                          </div>
                          <div class="tab-pane fade in topics" id="topics-engine_tabbed--1">
                            <ul>
                              <li class="cat-item cat-item-124">
                                <a href="category/entertainment/default.html" title="View all posts filed under Entertainment">娱乐</a>
                                <span class="post-count">6</span>
                              </li>
                              <li class="cat-item cat-item-121">
                                <a href="category/gear/default.html" title="View all posts filed under Gear">游戏</a>
                                <span class="post-count">4</span>
                              </li>
                              <li class="cat-item cat-item-142">
                                <a href="category/news/default.html" title="View all posts filed under News">新闻</a>
                                <span class="post-count">7</span>
                              </li>
                              <li class="cat-item cat-item-129">
                                <a href="category/photos/default.html" title="View all posts filed under Photos">图片</a>
                                <span class="post-count">4</span>
                              </li>
                              <li class="cat-item cat-item-141">
                                <a href="category/politics/default.html" title="View all posts filed under Politics">影讯</a>
                                <span class="post-count">4</span>
                              </li>
                              <li class="cat-item cat-item-122">
                                <a href="category/sports/default.html" title="View all posts filed under Sports">体育</a>
                                <span class="post-count">5</span>
                              </li>
                              <li class="cat-item cat-item-127">
                                <a href="category/style/default.html" title="View all posts filed under Style">画展</a>
                                <span class="post-count">4</span>
                              </li>
                              <li class="cat-item cat-item-120">
                                <a href="category/technology/default.html" title="View all posts filed under Technology">技术</a>
                                <span class="post-count">4</span>
                              </li>
                              <li class="cat-item cat-item-125">
                                <a href="category/travel/default.html" title="View all posts filed under Travel">旅游</a>
                                <span class="post-count">5</span>
                              </li>
                              <li class="cat-item cat-item-128">
                                <a href="category/videos/default.html" title="View all posts filed under Videos">视频</a>
                                <span class="post-count">2</span>
                              </li>
                            </ul>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>
                <!-- /.entry-wrap -->
              </article>
              <div class="entry-footer">

                <div class="inner">

                  <span class="hidden-phone">
                    <i class="icon-user"></i>
                    Posted by
                    <a href="../author/admin/index.html" title="Posts by Stephen Bluck" rel="author">Stephen Bluck</a>
                  </span>

                  <div class="share">

                    <div class="inner">
                      <div class="btn-group pull-right" style="margin-top:10px;margin-right:10px;">
                        <a href="/new/topic" class="btn btn-inverse" title="在同一节点下发表新话题">发帖</a>
                      </div>
                      <div class="btn-group pull-right" style="margin-top:10px;margin-right:10px;">
                        <button class="btn btn-inverse">♥ 喜欢 (8888)</button>
                        <span class="btn btn-inverse">88888分</span>
                        <button class="btn btn-inverse">♠ 讨厌 (8888)</button>
                      </div>
                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>
          <!-- /.content -->

          <section class="widget related clearfix section Engine_Postcarousel white">

            <h3 class="widget-title">
              <span class="title-bg">随机话题</span>
            </h3>
            <!-- .flexslider -->
            <div class="flexslider post-carousel related-posts">

              <span class="gradient"></span>

              <ul class="slides">

                <li>

                  <div class="post-2812 post type-post status-publish format-image hentry category-news category-sports">

                    <div class="featured-area">

                      <!-- .featured-image -->
                      <div class="featured-image">

                        <a href="../dealing-with-more-than-balls-and-strikes/index.html">
                          <img width="200" height="111" src="/static/files/2013/02/Baseball-baseball-52252_1024_768-200x111.jpg" class="attachment-small_thumb wp-post-image" alt="Baseball-baseball-52252_1024_768" />
                        </a>

                      </div>
                      <!-- /.featured-image --> </div>

                    <div class="overlay">

                      <header class="entry-header">

                        <div class="entry-meta">
                          <time class="entry-date block" datetime="2013-02-13T17:44:29+00:00">Feb 13, 2013</time>
                          <a href="../dealing-with-more-than-balls-and-strikes/index.html#comments" class="entry-comments block">No Comments</a>
                        </div>

                        <h2 class="entry-title">
                          <a href="../dealing-with-more-than-balls-and-strikes/index.html">Dealing With More Than Balls and Strikes</a>
                        </h2>

                      </header>

                    </div>

                  </div>

                </li>

                <li>

                  <div class="post-2815 post type-post status-publish format-standard hentry category-news category-sports category-technology">

                    <div class="featured-area">

                      <!-- .featured-image -->
                      <div class="featured-image">

                        <a href="../oscar-pistorius-goes-step-by-step/index.html">
                          <img width="200" height="111" src="/static/files/2013/02/6368910827_2511b55eac_o-200x111.jpg" class="attachment-small_thumb wp-post-image" alt="Here He Comes Now..." />
                        </a>

                      </div>
                      <!-- /.featured-image --> </div>

                    <div class="overlay">

                      <header class="entry-header">

                        <div class="entry-meta">
                          <time class="entry-date block" datetime="2013-02-13T17:31:57+00:00">Feb 13, 2013</time>
                          <a href="../oscar-pistorius-goes-step-by-step/index.html#comments" class="entry-comments block">No Comments</a>
                        </div>

                        <h2 class="entry-title">
                          <a href="../oscar-pistorius-goes-step-by-step/index.html">Oscar Pistorius Goes Step By Step</a>
                        </h2>

                      </header>

                    </div>

                  </div>

                </li>

                <li>

                  <div class="post-2771 post type-post status-publish format-standard hentry category-entertainment category-politics">

                    <div class="featured-area">

                      <!-- .featured-image -->
                      <div class="featured-image">

                        <a href="../california-governor-arnold-schwarzenegger/index.html">
                          <img width="200" height="111" src="/static/files/2012/07/4322738056_8f5433513d_b-200x111.jpg" class="attachment-small_thumb wp-post-image" alt="4322738056_8f5433513d_b" />
                        </a>

                      </div>
                      <!-- /.featured-image --> </div>

                    <div class="overlay">

                      <header class="entry-header">

                        <div class="entry-meta">
                          <time class="entry-date block" datetime="2013-02-13T16:48:16+00:00">Feb 13, 2013</time>
                          <a href="../california-governor-arnold-schwarzenegger/index.html#comments" class="entry-comments block">No Comments</a>
                        </div>

                        <h2 class="entry-title">
                          <a href="../california-governor-arnold-schwarzenegger/index.html">California Governor Arnold Schwarzenegger</a>
                        </h2>

                      </header>

                    </div>

                  </div>

                </li>

                <li>

                  <div class="post-2760 post type-post status-publish format-standard hentry category-politics">

                    <div class="featured-area">

                      <!-- .featured-image -->
                      <div class="featured-image">

                        <a href="../david-camerons-personal-popularity-drops/index.html">
                          <img width="200" height="111" src="/static/files/2012/07/6001628933_78228b56dc_b-200x111.jpg" class="attachment-small_thumb wp-post-image" alt="6001628933_78228b56dc_b" />
                        </a>

                      </div>
                      <!-- /.featured-image --> </div>

                    <div class="overlay">

                      <header class="entry-header">

                        <div class="entry-meta">
                          <time class="entry-date block" datetime="2013-02-11T20:45:40+00:00">Feb 11, 2013</time>
                          <a href="../david-camerons-personal-popularity-drops/index.html#comments" class="entry-comments block">No Comments</a>
                        </div>

                        <h2 class="entry-title">
                          <a href="../david-camerons-personal-popularity-drops/index.html">David Cameron&#8217;s Personal Popularity Drops</a>
                        </h2>

                      </header>

                    </div>

                  </div>

                </li>

              </ul>

            </div>
            <!-- /.flexslider --> </section>

          <div id="comments" class="comments comments-area">

            <div class="section">

              <div class="section-inner">
                <div id="respond">
                  <h3 id="reply-title">
                    发布话题
                    <small>
                      <a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">取消发布</a>
                    </small>
                  </h3>
                  <form action="" method="post" id="commentform">
                    <p class="comment-notes">游客也可发表话题,你的email不会被系统公开,请放心发布内容.</p>
                    <p class="comment-form-author">
                      <label for="author">
                        昵称
                        <span class="required">*</span>
                      </label>
                      <input id="author" name="author" type="text" value="" size="30" aria-required='true' />
                    </p>
                    <p class="comment-form-email">
                      <label for="email">
                        Email
                        <span class="required">*</span>
                      </label>
                      <input id="email" name="email" type="text" value="" size="30" aria-required='true' />
                    </p>
                    <p class="comment-form-url">
                      <label for="url">网站</label>
                      <input id="url" name="url" type="text" value="" size="30" />
                    </p>
                    <p class="comment-form-title">
                      <label for="tptile">
                        标题
                        <span class="required">*</span>
                      </label>
                      <input id="tptile" name="title" type="text" value="" class="input-xxlarge" size="30" aria-required='true' />
                    </p>
                    <p class="comment-form-comment">
                      <label for="comment">
                        内容
                        <span class="required">*</span>
                      </label>
                      <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                    </p>
                    <p class="form-allowed-tags">
                      You may use these <abbr title="HyperText Markup Language">HTML</abbr>
                      tags and attributes:
                      <code>&lt;a href=&quot;&quot; title=&quot;&quot;&gt; &lt;abbr title=&quot;&quot;&gt; &lt;acronym title=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote cite=&quot;&quot;&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=&quot;&quot;&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=&quot;&quot;&gt; &lt;strike&gt; &lt;strong&gt; </code>
                    </p>
                    <p class="form-submit">
                      <input name="submit" type="submit" id="submit" value="发布" />
                      <input type='hidden' name='comment_post_ID' value='2767' id='comment_post_ID' />
                      <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                    </p>

                    <p class="comment-form-anti-spam" style="clear:both;">
                      <label for="anti-spam-q">
                        Current
                        <span style="display:none;">month</span>
                        <span style="display:inline;">ye@r</span>
                        <span style="display:none;">day</span>
                      </label>
                      <span class="required">*</span>
                      <input type="hidden" name="anti-spam-a" id="anti-spam-a" value="2013" />
                      <input type="text" name="anti-spam-q" id="anti-spam-q" size="30" value="1980" />
                    </p>

                    <p class="comment-form-anti-spam-2" style="display:none;">
                      <label for="anti-spam-e-email-url">Leave this field empty</label>
                      <span class="required">*</span>
                      <input type="text" name="anti-spam-e-email-url" id="anti-spam-e-email-url" size="30" value=""/>
                      /p>
                    </form>
                  </div>
                  <!-- #respond --> </div>

              </div>

            </div>
            <!-- .comments-area --> </div>

        </div>

        <!-- .sidebar -->
        <div class="sidebar span5 pull-right">

          <div class="row">

            <div class="span3 normal-sidebar">

              <section id="search-4" class="widget clearfix section widget_search">
                <h3 class="widget-title">
                  <span class="title-bg">搜索</span>
                  <span class="border"></span>
                </h3>
                <!--BEGIN .searchform-->
                <form method="get" action="/search/">

                  <div class="input-append">

                    <input type="text" name="keyword" class="search" value="搜索..." onfocus="if(this.value=='搜索...')this.value='';" onblur="if(this.value=='')this.value='搜索...';" />

                    <button type="submit" class="btn btn-warning">
                      <i class="icon-search"></i>
                    </button>

                  </div>

                  <!--END .searchform--> </form>
              </section>
              <section id="categories-3" class="widget clearfix section widget_categories">
                <h3 class="widget-title">
                  <span class="title-bg">分类</span>
                  <span class="border"></span>
                </h3>
                {{if .categorys}}
                <ul>
                  {{range .categorys}}
                  <li class="cat-item cat-item-{{.Id}}">
                    <a href="/category/{{.Id}}" title="查看[{{.Title}}]下的节点">{{.Title}}</a>
                    <span class="post-count">{{.NodeCount}}</span>
                  </li>
                  {{end}}
                </ul>
                {{end}}
              </section>
      {{if .topics_cat}}
         {{range .topics_cat}}
                  <section class="widget clearfix section Engine_Postcarousel white">
                     <h3 class="widget-title">
                        <span class="title-bg">:.</span>
                        <span class="border"></span>
                     </h3>

                     <!-- .flexslider -->
                     <div class="flexslider post-carousel">
                        <span class="gradient"></span>
                        <ul class="slides">
                     {{if .}}
                        {{range .}}
                           <li>

                              <div class="post-{{.Id}} post type-post status-publish format-image hentry category-news category-sports">
                                 <div class="featured-area">
                                    <!-- .featured-image -->
                                    <div class="featured-image">
                                       <a href="/topic/{{.Id}}/">
                                          <img width="200" height="111" src="{{.Attachment}}" class="attachment-small_thumb wp-post-image"/>
                                       </a>
                                    </div>
                                    <!-- /.featured-image -->
                                 </div>
                                 <div class="overlay">

                                    <div class="entry-header">

                                       <div class="entry-meta">
                                          <time class="entry-date block" datetime="{{if .Created}}{{.Created}}{{end}}">{{if .Created}}{{dateformat .Created "1月2日 , 2006年"}}{{else}}1月2日 , 2006年{{end}}</time>
                                          <a href="/topic/{{.Id}}/" class="entry-comments block">尚无回应</a>
                                       </div>

                                       <h2 class="entry-title">
                                          <a href="/topic/{{.Id}}/">{{if .Title}}
                                             {{$ts:=html2str .Title}}
                                             {{$ts:=substr $ts 0 30}}
                                             {{str2html $ts}}
                                       {{end}}</a>
                                       </h2>

                                    </div>

                                    <div class="entry-content">
                                       {{if .Content}}
                                           <p>
                                             {{$cs:=html2str .Content}}
                                             {{$cs:=substr $cs 0 240}}
                                             {{str2html $cs}}
                                           </p>
                                       {{end}}
                                    </div>
                                 </div>

                              </div>
                           </li>
                        {{end}}
                     {{else}}
                           <li>
                              <div class="post-2815 post type-post status-publish format-standard hentry category-news category-sports category-technology">
                                 <div class="featured-area">
                                    <!-- .featured-image -->
                                    <div class="featured-image">
                                       <a href="index.html">
                                          <img width="200" height="111" src="/static/files/2013/02/6368910827_2511b55eac_o-200x111.jpg" class="attachment-small_thumb wp-post-image" alt="Here He Comes Now..." />
                                       </a>
                                    </div>
                                    <!-- /.featured-image -->
                                 </div>

                                 <div class="overlay">
                                    <div class="entry-header">
                                       <div class="entry-meta">
                                          <time class="entry-date block" datetime="2013-02-13T17:31:57+00:00">Feb 13, 2013</time>
                                          <a href="index.html#comments" class="entry-comments block">尚无回应</a>
                                       </div>
                                       <h2 class="entry-title">
                                          <a href="index.html">Oscar Pistorius Goes Step By Step</a>
                                       </h2>

                                    </div>

                                    <div class="entry-content">
                                       Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam...
                                    </div>
                                 </div>

                              </div>
                           </li>
                           <li>
                              <div class="post-2777 post type-post status-publish format-video hentry category-gear category-technology category-videos">

                                 <div class="featured-area">

                                    <!-- .featured-image -->
                                    <div class="featured-image">

                                       <a href="../first-look-official-iphone-5-trailer/index.html">
                                          <img width="200" height="111" src="/static/files/2013/02/iphone_2338311b-200x111.jpg" class="attachment-small_thumb wp-post-image" alt="iphone_2338311b" />
                                       </a>

                                    </div>
                                    <!-- /.featured-image --> </div>

                                 <div class="overlay">

                                    <div class="entry-header">

                                       <div class="entry-meta">
                                          <time class="entry-date block" datetime="2013-02-13T16:57:22+00:00">Feb 13, 2013</time>
                                          <a href="../first-look-official-iphone-5-trailer/index.html#comments" class="entry-comments block">尚无回应</a>
                                       </div>

                                       <h2 class="entry-title">
                                          <a href="../first-look-official-iphone-5-trailer/index.html">Vancouver Time Lapse &#8211; Amazing!</a>
                                       </h2>

                                    </div>

                                    <div class="entry-content">
                                       The new iPhone 5 has a remarkably slim design that still makes room for a larger display and a...
                                    </div>
                                 </div>

                              </div>
                           </li>
                     {{end}}
                        </ul>
                     </div>
                     <!-- /.flexslider --> 
                  </section>
         {{end}}
      {{end}}
      {{if .ads}}
                  <section id="meta-2" class="widget clearfix section widget_meta">
                     <h3 class="widget-title">
                        <span class="title-bg">广告赞助</span>
                        <span class="border"></span>
                     </h3>
                     <div>广告内容</div>
                  </section>
      {{end}}
            </div>

            <div class="span2 thin-sidebar">
      {{if .topics_hn}}
         {{range .topics_hn}}
                  <section class="widget clearfix section Engine_Postcarousel secondary">
                     <h3 class="widget-title">
                        <span class="title-bg">.:</span>
                        <span class="border"></span>
                     </h3>
                     <!-- .flexslider -->
                     <div class="flexslider post-carousel">
                        <span class="gradient"></span>
                        <ul class="slides">
                        {{range .}}
                           <li>
                              <div class="post-{{.Id}} post type-post status-publish format-image hentry category-news category-sports">

                                 <div class="featured-area">

                                    <!-- .featured-image -->
                                    <div class="featured-image">

                                       <a href="/topic/{{.Id}}/">
                                          <img width="200" height="111" src="{{.Attachment}}" class="attachment-small_thumb wp-post-image"/>
                                       </a>

                                    </div>
                                    <!-- /.featured-image -->
                                 </div>

                                 <div class="overlay">

                                    <div class="entry-header">

                                       <div class="entry-meta">
                                          <time class="entry-date block" datetime="{{if .Created}}{{.Created}}{{end}}">{{if .Created}}{{dateformat .Created "1月2日 , 2006年"}}{{else}}1月2日 , 2006年{{end}}</time>
                                          <a href="/topic/{{.Id}}/" class="entry-comments block">尚无回应</a>
                                       </div>

                                       <h2 class="entry-title">
                                          <a href="/topic/{{.Id}}/">{{.Title}}</a>
                                       </h2>

                                    </div>

                                    <div class="entry-content">
                                       {{str2html .Content}}
                                    </div>
                                 </div>
                              </div>
                           </li>
                        {{end}}
                        </ul>
                     </div>
                     <!-- /.flexslider -->
                  </section>
         {{end}}
      {{else}}
                  <section class="widget clearfix section Engine_Postcarousel secondary">
                     <h3 class="widget-title">
                        <span class="title-bg">.:</span>
                        <span class="border"></span>
                     </h3>
                     <!-- .flexslider -->
                     <div class="flexslider post-carousel">

                        <span class="gradient"></span>

                        <ul class="slides">
                           <li>
                              <div class="post-0 post type-post status-publish format-image hentry category-news category-sports">

                                 <div class="featured-area">

                                    <!-- .featured-image -->
                                    <div class="featured-image">

                                       <a href="/topic/0/">
                                          <img width="200" height="111" src="http://veryhour.com/static/files/2013/02/Baseball-baseball-52252_1024_768-200x111.jpg" class="attachment-small_thumb wp-post-image"/>
                                       </a>

                                    </div>
                                    <!-- /.featured-image -->
                                 </div>

                                 <div class="overlay">

                                    <div class="entry-header">

                                       <div class="entry-meta">
                                          <time class="entry-date block" datetime="{{if .Created}}{{.Created}}{{end}}">{{if .Created}}{{dateformat .Created "1月2日 , 2006年"}}{{else}}1月2日 , 2006年{{end}}</time>
                                          <a href="/topic/0/" class="entry-comments block">尚无回应</a>
                                       </div>

                                       <h2 class="entry-title">
                                          <a href="/topic/0/">{{.Title}}</a>
                                       </h2>

                                    </div>

                                    <div class="entry-content">
                                       尚未有内容
                                    </div>
                                 </div>
                              </div>
                           </li>
                        </ul>

                     </div>
                     <!-- /.flexslider -->
                  </section>
      {{end}}
            </div>

          </div>

        </div>
        <!-- /.sidebar --> </div>
      <!-- /.row -->

      <div class="breadcrumb breadcrumbs">
        <div class="breadcrumb-trail">
          <span class="trail-before">
            You are here
            <span class="sep">
              <i class="icon-angle-right"></i>
            </span>
          </span>
          <a href="../index.html" title="Buzz Theme" rel="home" class="trail-begin">Home</a>
          <span class="sep">
            <i class="icon-angle-right"></i>
          </span>
          <span class="trail-end">President Barack Obama to Addresses the Nation</span>
        </div>
      </div>
    </div>
    <!-- /.container -->

    <!-- .footer.wrap -->
    {{template "footer.html" .}}
    <!-- /.footer.wrap --> </div>
  <!-- /.main-container -->
  <script type='text/javascript' src='/static/plugins/contact-form-7/includes/js/jquery.form.min-ver=3.36.0-2013.06.16.js'></script>
  <script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"\/static\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]>*/</script>
  <script type='text/javascript' src='/static/plugins/contact-form-7/includes/js/scripts-ver=3.4.2.js'></script>
  <script type='text/javascript' src='/static/js/comment-reply.min.js'></script>
  <script type='text/javascript' src='/static/bootstrap-2.1.1/js/bootstrap.min.js'></script>
  <script type='text/javascript' src='/static/assets/js/flexslider-ver=2.1.js'></script>
  <script type='text/javascript' src='/static/library/media-player/mediaelement-and-player.min-ver=3.5.1.js'></script>
  <script type='text/javascript' src='/static/assets/js/jquery.fitvids-ver=3.5.1.js'></script>
  <script type='text/javascript' src='/static/assets/js/jquery.imagesloaded.min-ver=1.js'></script>
  <script type='text/javascript' src='/static/assets/js/jquery.jcarousel-ver=1.js'></script>
  <script type='text/javascript' src='/static/assets/js/engine-ver=1374933754.js'></script>
  <script type='text/javascript' src='/static/assets/js/jquery.tweet-ver=3.5.1.js'></script>

</body>

</html>