<head>
   <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
   <title>{{if .innode.Title}}{{.innode.Title}} {{end}}{{if .category}}{{.category}}分类 - {{end}}梨花树</title>
   <link rel="shortcut icon" href="/static/ico/favicon.ico" type="image/x-icon" />
   <link rel="canonical" href="http://www.lihuashu.com/" />
   <script src="/static/js/jquery-1.8.3.min.js"></script>
   <script type='text/javascript'>var layout=1;</script>
   <meta name="keywords" content="梨花树 | {{if compare .tab "lastest"}}最新{{end}}{{if compare .tab "hotness"}}最热{{end}}写真套图 | 图片分享| 妹子图 | 妹子 | 美女图片 | 靓丽模特 | {{if .category}}{{.category}} | {{end}}" />
   <meta name="description" content="梨花树是一个图片社交网络,怀抱着让世界涂满艺术色彩的使命而生～以分享图片艺术为使命,收集{{if compare .tab "lastest"}}最新{{end}}{{if compare .tab "hotness"}}最热{{end}}靓丽模特,写真套图,{{if compare .tab "lastest"}}最新{{end}}{{if compare .tab "hotness"}}最热{{end}}{{if .category}}{{.category}}{{end}}图片让你的生活更精彩~" />
   <meta name="baidu-site-verification" content="1N9SFpqoKZ" />
   <link rel='stylesheet' id='index-css'  href='/static/mzr/css/istyles.css' type='text/css' media='screen' />
   <script type='text/javascript' src='/static/mzr/js/scripts.js'></script>
   <style type='text/css'>
      #header{position:fixed;top:0;left:0;width:100%;z-index:99}
      #content-shadow{position:fixed;top:57px;left:0;width:100%;z-index:99}
      #content{padding-top:100px}
      #header.fixed,#content-shadow.fixed{z-index:0}
      .single .main-body;
      img{display:block;margin:0 auto 10px auto;zoom:1}
      #content{padding-top:58px}
   </style>
   <!--[if lt IE 9]>
   <link rel="stylesheet" id="ie8-css" href="/static/mzr/css/ie8.css" type="text/css" media="screen">
   <![endif]-->
</head>