{{template "head.html" .}}
<body class="page page-id-2591 page-template page-template-template-fullwidth-php responsive-on">
<!-- .main-container -->
<div class="main-container">

	<div class="bg"></div>
	{{template "header.html" .}}
	<div class="container">

		<!-- .row -->
		<div class="row">

			<div class="content page-content no-sidebar span12">

				<div class="content-inner">

					<article class="post-2591 page type-page status-publish hentry" >

						<div class="entry-header">

							<h1 class="entry-title page-title">
								<span>浏览大图</span>
							</h1>

						</div>

						<div class="entry-content">
							{{if .image.Location}}
							<p>
								<img src="{{.image.Location}}" alt="royal1" width="100%" class="alignnone size-large wp-image-2616"></p>
							{{else}}
							<p>
								<img src="/files/2012/09/royal1-1024x576.jpg" alt="royal1" width="1024" height="576" class="alignnone size-large wp-image-2616"></p>
							{{end}}
						</div>

					</article>

				</div>

			</div>
			<!-- /.content -->

		</div>
		<!-- /.row -->

		<div class="breadcrumb breadcrumbs">
			<div class="breadcrumb-trail">
				<span class="trail-before">
					You are here
					<span class="sep"> <i class="icon-angle-right"></i>
					</span>
				</span>
				<a href="/" title="Buzz Theme" rel="home" class="trail-begin">Home</a>
				<span class="sep"> <i class="icon-angle-right"></i>
				</span>
				<span class="trail-end">浏览大图</span>
			</div>
		</div>
	</div>
	<!-- /.container -->
	{{template "footer.html" .}}
</div>
<!-- /.main-container -->

<script type='text/javascript' src='/static/plugins/contact-form-7/includes/js/jquery.form.min-ver=3.36.0-2013.06.16.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"\/static\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]>*/</script>
<script type='text/javascript' src='/static/plugins/contact-form-7/includes/js/scripts-ver=3.4.2.js'></script>
<script type='text/javascript' src='/static/js/comment-reply.min.js'></script>
<script type='text/javascript' src='/static/bootstrap-2.1.1/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/static/assets/js/flexslider-ver=2.1.js'></script>
<script type='text/javascript' src='/static/library/media-player/mediaelement-and-player.min-ver=3.5.1.js'></script>
<script type='text/javascript' src='/static/assets/js/jquery.fitvids-ver=3.5.1.js'></script>
<script type='text/javascript' src='/static/assets/js/jquery.imagesloaded.min-ver=1.js'></script>
<script type='text/javascript' src='/static/assets/js/jquery.jcarousel-ver=1.js'></script>
<script type='text/javascript' src='/static/assets/js/engine-ver=1374933754.js'></script>
<script type='text/javascript' src='/static/assets/js/jquery.tweet-ver=3.5.1.js'></script>

</body>

</html>