<!DOCTYPE html>
<html>
{{template "head.html".}}
<body class="home blog">
	{{template "header.html".}}
	<div id="content">
		<div class="bd clx">
			<div id="index" class="clx">
				<div class="main">
					<div class="main-content">

					<article class="post-2591 page type-page status-publish hentry" >

						<div class="entry-header">

							<h1 class="entry-title page-title">
								<span>创建分类</span>
							</h1>

						</div>

						<div class="entry-content">
							{{template "msgerr.html" .}}
							<form action="" method="post">
								<div class="sc row-fluid">
									<div class="span12">
										<div>
											<h5>分类名称:</h5>
											<input type="text" name="title" value="" class="input-xxlarge">
											{{if .xsrfdata}}{{.xsrfdata}}{{end}}
										</div>
									</div>
								</div>
								<div class="sc row-fluid">
									<div class="span12">
										<div class="well">
											<h5>分类简介：</h5>
											<textarea class="editor" name="content" colspan="3" rowspan="10"></textarea>
										</div>
										<input type="submit" class="btn" value="提交"></div>
								</div>
							</form>
							{{template "editor-tinymce.html" .}}
						</div>

					</article>
							<div style="clear:both;"></div>
					</div>

		</div>
		<div id="sidebar">
			<div id="widgets-sns" class="widgets">
				<h3></h3>
				<div id="search" class="clearfix">
					<form method="get" id="searchform" action="/search/">
						<input type="text" class="search-input" name="s" id="s" placeholder="搜索只有妹子的世界">
						<input type="submit" class="search-submit" value="搜索只有妹子的世界"></form>
				</div>
			</div>
			<div class="widgets">
				<h3>热门标签</h3>
				<div id="pin-tags" class="clx">
					{{if .nodes_views_20}}
							{{range .nodes_views_20}}
					<a href='/node/{{.Title}}/' class='tag-link-{{.Id}}' title='{{.TopicCount}}个话题' style='font-size: 10pt;'>{{.Title}}</a>
					{{end}}
						{{end}}
				</div>
			</div>
			{{template "sidebar-topbox.html".}}
		</div>
	</div>
</div>
</div>
{{template "footer.html".}}
</body>
</html>