<!DOCTYPE html>
<html>
{{template "head.html".}}
<body class="home blog">
  {{template "header.html".}}
  <div id="content">
    <div class="bd clx">
      <div id="index" class="clx">
        <div class="main">
          <div class="main-content">
            <div id="main-nav" class="clx">
              <div id="tools" class="menu-tools-container">
                <ul id="menu-tools" class="menu">
                  <li id="menu-item-5199" class="menu-item menu-item-type-post_type menu-item-object-page{{if compare .tab "hotness"}} current_page_item current-menu-item {{end}} menu-item-5199">
                    <a title="热门妹子" href="/node/hotness/{{.innode.Title}}/">最热</a>
                  </li>
                  <li id="menu-item-4042" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-4042{{if compare .tab "lastest"}} current_page_item current-menu-item {{end}}">
                    <a title="今日最新" href="/node/lastest/{{.innode.Title}}/">最新</a>
                  </li>
                </ul>
              </div>
              <div class="main-nav-right clx">
                <a class="main-0" title="普通布局"></a>
                <a class="main-2" title="流体布局"></a>
              </div>
            </div>
            <div id="postlist" class="clx">
                {{if .topics}}
                  {{str2html .topics}}
                {{else}}
              <div id="pin-13816" class="pin">
                <div class="pin-coat">
                  <a class='imageLink image loading' target='_blank'>
                    <img src='/static/mzr/img/dot.png' original='/static/mzr/img/13816_rosi-078-026_large.jpg' width='200' height='150' alt='ROSI 078期 精选' oriheight='300' />
                    <span class='bg'>ROSI 078期 精选</span>
                  </a>
                  <div class="pin-data clx">
                    <span class="timer">
                      <em></em>
                      <span>2天前</span>
                    </span>
                    <a class="viewsButton" title="阅读" target="_blank">
                      <em></em>
                      <span>16,328 views</span>
                    </a>
                  </div>
                </div>
              </div>
        {{end}}
              <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
            {{if .pagesbar}}{{.pagesbar}} <div style="clear:both;"></div> {{end}}
            <div style="clear:both;"></div>
          </div>
            <div style="clear:both;"></div>
            <div class="ad_bottom">
              {{template "ads/ad-i.html".}}
              {{template "ads/ad-e.html".}}
            </div>
            <div style="clear:both;"></div>
          {{/*
            <div class="l_box widget_text">
              <div class="textwidget">
                <span> <strong>合作伙伴</strong>
                  <small>要求：PR>3,流量>5万. 申请链接</small>
                </span>
                <ul>
                  <li>
                    <a rel="nofollow" href="###/di76?huabian" target="_blank">激情色女图库</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/axg8?yq38" target="_blank">大胆艳色少女</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/V8h8?jrj" target="_blank">欧美人体艺术</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/yqv7?iqunqi" target="_blank">夜色美女吧</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/pAg8?soomm" target="_blank">兽兽刺激图片</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/TAg8?dcv888" target="_blank">美女老婆写真</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/EVh8?92wtc" target="_blank">野战激情偷拍</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/8rg8?93qq" target="_blank">妹妹午夜艳照</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/TAg8?dcv888" target="_blank">极品销魂少妇</a>
                  </li>
                  <br>              
                  <li>
                    <a rel="nofollow" href="###/di76?huabian" target="_blank">午夜销魂少妇</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/TAg8?dcv888" target="_blank">日本妹妹沐浴</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/QIT6?junshi163" target="_blank">绝色美女电影</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/EVh8?92wtc" target="_blank">妹子爱诱惑</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/Gc36?5aimn" target="_blank">火辣激情舞女</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/TAg8?dcv888" target="_blank">极品艳色女人</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/pAg8?soomm" target="_blank">顶极人体大图</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/JPV6?myxfg" target="_blank">夜夜绝色艳图</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/TAg8?dcv888" target="_blank">销魂艺术大图</a>
                  </li>
                  <br>              
                  <li>
                    <a rel="nofollow" href="###/di76?huabian" target="_blank">兽兽美女图片</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/QIT6?junshi163" target="_blank">肉肉美女图片</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/di76?huabian" target="_blank">肉肉性感女人</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/EVh8?92wtc" target="_blank">性感美女图</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/di76?huabian" target="_blank">色女刺激大图</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/di76?huabian" target="_blank">顶级销魂熟女</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/di76?huabian" target="_blank">舞女玉体诱惑</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/di76?huabian" target="_blank">日韩美女套图</a>
                  </li>
                  <li>
                    <a rel="nofollow" href="###/di76?huabian" target="_blank">大胆开放色女</a>
                  </li>
                </ul>
              </div>
            </div>
          */}}
        </div>

        <div id="sidebar">
        {{template "sidebar-search.html".}}
          <div class="widgets">
            <h3>热门标签</h3>
            <div id="pin-tags" class="clx">
              {{if .nodes_views_20}}
              {{range .nodes_views_20}}
              <a href='/node/{{.Title}}/' class='tag-link-{{.Id}}' title='{{.TopicCount}}个话题' style='font-size: 10pt;'>{{.Title}}</a>
              {{end}}
            {{end}}
            </div>
          </div>
          <div class="widgets">
            <h3>排行榜</h3>
        {{if .topic_hotness_9_module}}
          {{.topic_hotness_9_module}}
        {{else}}
            <ul class="widgets-popular widgets-similar clx">
              <li class="similar">
                <a target="_blank" title="ROSI 518期 精选">
                  <img src="/static/mzr/img/7223_original_qPi6_5c6b00015d5f125f_small.jpg" wdith="70" height="70" />        
                </a>
              </li>
              <li class="similar">
                <a target="_blank" title="ROSI 518期 精选">
                  <img src="/static/mzr/img/7223_original_qPi6_5c6b00015d5f125f_small.jpg" wdith="70" height="70" />        
                </a>
              </li>
              <li class="similar similar-third">
                <a target="_blank" title="性感巨乳">
                  <img src="/static/mzr/img/7223_original_qPi6_5c6b00015d5f125f_small.jpg" wdith="70" height="70" />        
                </a>
              </li>
              <li class="similar">
                <a target="_blank" title="ROSI 518期 精选">
                  <img src="/static/mzr/img/7223_original_qPi6_5c6b00015d5f125f_small.jpg" wdith="70" height="70" />        
                </a>
              </li>
              <li class="similar">
                <a target="_blank" title="ROSI 518期 精选">
                  <img src="/static/mzr/img/7223_original_qPi6_5c6b00015d5f125f_small.jpg" wdith="70" height="70" />        
                </a>
              </li>
              <li class="similar similar-third">
                <a target="_blank" title="性感巨乳">
                  <img src="/static/mzr/img/7223_original_qPi6_5c6b00015d5f125f_small.jpg" wdith="70" height="70" />        
                </a>
              </li>
              <li class="similar">
                <a target="_blank" title="ROSI 518期 精选">
                  <img src="/static/mzr/img/7223_original_qPi6_5c6b00015d5f125f_small.jpg" wdith="70" height="70" />        
                </a>
              </li>
              <li class="similar">
                <a target="_blank" title="ROSI 518期 精选">
                  <img src="/static/mzr/img/7223_original_qPi6_5c6b00015d5f125f_small.jpg" wdith="70" height="70" />        
                </a>
              </li>
              <li class="similar similar-third">
                <a target="_blank" title="性感巨乳">
                  <img src="/static/mzr/img/7223_original_qPi6_5c6b00015d5f125f_small.jpg" wdith="70" height="70" />        
                </a>
              </li>
            </ul>
        {{end}}
          </div>
          <div id="sidebar-fixed">
            <div class="widgets_mzitu">{{template "ads/ad-c.html".}}</div>
            <div class="widgets_mzitu">{{template "ads/ad-g.html".}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{template "footer.html".}}
</body>
</html>