<div class="widgets">
<h3>排行榜</h3>
{{if .topic_hotness_9_module}}
          {{.topic_hotness_9_module}}
{{else}}
            <ul class="widgets-popular widgets-similar clx">
              <li class="similar">
                <a target="_blank" title="尚无数据">
                  <img src="/static/mzr/img/7223_original_qPi6_5c6b00015d5f125f_small.jpg" wdith="70" height="70" />        
                </a>
              </li>
              <li class="similar">
                <a target="_blank" title="尚无数据">
                  <img src="/static/mzr/img/7223_original_qPi6_5c6b00015d5f125f_small.jpg" wdith="70" height="70" />        
                </a>
              </li>
              <li class="similar similar-third">
                <a target="_blank" title="尚无数据">
                  <img src="/static/mzr/img/7223_original_qPi6_5c6b00015d5f125f_small.jpg" wdith="70" height="70" />        
                </a>
              </li>
              <li class="similar">
                <a target="_blank" title="尚无数据">
                  <img src="/static/mzr/img/7223_original_qPi6_5c6b00015d5f125f_small.jpg" wdith="70" height="70" />        
                </a>
              </li>
              <li class="similar">
                <a target="_blank" title="尚无数据">
                  <img src="/static/mzr/img/7223_original_qPi6_5c6b00015d5f125f_small.jpg" wdith="70" height="70" />        
                </a>
              </li>
              <li class="similar similar-third">
                <a target="_blank" title="尚无数据">
                  <img src="/static/mzr/img/7223_original_qPi6_5c6b00015d5f125f_small.jpg" wdith="70" height="70" />        
                </a>
              </li>
              <li class="similar">
                <a target="_blank" title="尚无数据">
                  <img src="/static/mzr/img/7223_original_qPi6_5c6b00015d5f125f_small.jpg" wdith="70" height="70" />        
                </a>
              </li>
              <li class="similar">
                <a target="_blank" title="尚无数据">
                  <img src="/static/mzr/img/7223_original_qPi6_5c6b00015d5f125f_small.jpg" wdith="70" height="70" />        
                </a>
              </li>
              <li class="similar similar-third">
                <a target="_blank" title="尚无数据">
                  <img src="/static/mzr/img/7223_original_qPi6_5c6b00015d5f125f_small.jpg" wdith="70" height="70" />        
                </a>
              </li>
            </ul>
{{end}}
</div>
